@model MVCForumApp.Models.Topic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edit topic";
    var currentUserId = HttpContextAccessor.HttpContext?.Session.GetInt32("UserId");
}

<h1>Edit topic</h1>
<hr />

@if (currentUserId != null && currentUserId == Model.OwnerId)
{

    <div class="row">
        <div class="col-md-4">


            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Edit topic</button>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
                </div>
            </form>


        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
        <h1>You can't edit topic without logging in or the topic that you haven't created</h1>
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Log in</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
