@model MVCForumApp.Models.Post
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edit post";
    var currentUserId = HttpContextAccessor.HttpContext?.Session.GetInt32("UserId");
}

<h1>Make topic</h1>
<hr />

@if (currentUserId != null && currentUserId == Model.UserId)
{

    <div class="row">
        <div class="col-md-4">


            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>


                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="TopicId" />


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Edit post</button>
                    <a asp-controller="Topics" asp-action="Details" asp-route-id="@Model.TopicId" class="btn btn-secondary">Cancel</a>
                </div>
            </form>


        </div>
    </div>
}
else
{
    <div class="alert alert-warning">
        <h1>You can't edit post without logging in or the post that you haven't created</h1>
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Log in</a>
    </div>
}
}
<div>
    <a asp-controller="Topics" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Back to the topic</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
