@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label>Login:</label>
                <input name ="login" class="form-control" placeholder="Put your login" />
            </div>

            <div class ="form-group mb-3">
                <label class="control-label"></label>
                <input name="password" class="form-control" type="password" placeholder="Put your password" />
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Register">Go to registration</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
